.buttonPagination {
    padding: 9px 14px;

    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 2px solid #222;
    color: #222;
    background-color: white;
}
