.contactFormWrap {
    position: absolute;
    bottom: 20px;
    left: 45%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 42px) 130px;
    grid-column-gap: 15px;
    grid-row-gap: 20px;

    background: white;
    z-index: 1000;
    padding: 29px 40px;

    border-radius: 2px;

    color: #babcbf;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    .comment {
        grid-area: 3 / 1 / 4 / 3;
    }
    .buttonSubmit {
        margin-top: 40px;
    }
}
